.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.btn{
    margin-left: 150px; 
    color: white; 
    background-color: tomato;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
h2{
    margin-left: 40px;
}