<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/refrigerator" routerLinkActive="active">REFRIGERATOR</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addrefrigerator">Add refrigerator</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD REFRIGERATOR</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="refrigeratorForm">
                <div class="form-group">
                    <label>NAME: </label>
                    <input type="text" size="45" id="name" formControlName="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>ADDRESS: </label>
                    <input type="text" size="45" id="address" formControlName="address" class="form-control" required>
                </div>
                <div class="form-group">
                     <label>PHONE: </label>
                     <input type="text" size="45" id="phone" formControlName="phone" class="form-control" required>
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>
