<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/pesticides" routerLinkActive="active">PESTICIDE</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addpesticide">Add pesticide</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Spraying
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/spraying">Infromation about spraying</a>
                    <a class="dropdown-item" routerLink="/addspraying">Add spraying</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>UPDATE PESTICIDE</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="pesticideForm">
                <div class="form-group">
                    <label>KIND OF PESTICIDE: </label>
                    <input type="text" id="kindOfPesticide" formControlName="kindOfPesticide" class="form-control">
                </div>
                <div class="form-group">
                    <label>DESCRIPTION: </label>
                    <textarea  id="description" rows="4"formControlName="description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>QUANTITY IN STORE: </label>
                    <div class="form-group row">
                        <div class="col-xs-1">
                            <input type="number" id="price" size="2" formControlName="quantityInStore"
                                class="form-control">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" id="unitOfMeasurementOfQuantity" formControlName="unitOfMeasurementOfQuantity"
                                class="form-control">
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn" (click)="update()">UPDATE</button>
        </div>
    </div>
</div>