.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.btn{
    margin-left: 150px; 
    color: white; 
    background-color: tomato;
}
h2{
    margin-left: 230px;
}