<div class="container offset-2">
    <div class="row">
        <div class="col-xs-12">
            <h2>ADD PURCHASE</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="purchaseForm">
                <div class="form-group">
                    <label id="plantation">PLANTATION</label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'
                        *ngFor="let plantation of plantations">
                        <option value="{{plantation.id}}">{{plantation.address}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="buyer">BUYER</label>
                    <select id="idBuyer" class="form-control" formControlName='idBuyer'>
                        <option  *ngFor="let buyer of buyers" value="{{buyer.id}}">{{buyer.name}} {{buyer.surname}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>DATE</label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>KIND OF RASPBERRY</label>
                    <div class="form-check">
                        <div class="form-check">
                            <label class="form-check-inline">
                                <input type="radio" id="kindOfRaspberry" formControlName="kindOfRaspberry"
                                    class="form-check-input" value="MIKER">MIKER
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-inline">
                                <input type="radio" id="kindOfRaspberry" formControlName="kindOfRaspberry"
                                    class="form-check-input" value="VILAMET">VILAMET
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form [formGroup]="purchaseForm">
                <div class="form-group">
                    <label>WEIGHT  (kg) : </label>
                    <input type="number" id="weight" formControlName="weight" class="form-control">
                </div>
                <div class="form-group">
                    <label>CHARGED</label>
                    <div class="form-check">
                        <div class="form-check">
                            <label class="form-check-inline">
                                <input type="radio" id="charged" formControlName="charged" class="form-check-input"
                                    value="YES">YES
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-inline">
                                <input type="radio" id="charged" formControlName="charged" class="form-check-input"
                                    value="NO">NO
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>PRICE PER KG : </label>
                    <input type="number" id="price" formControlName="price" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>