.table {
    color: tomato;
}
.container{
    color: tomato;
}
.panel-header{
    margin-top: 30px; 
    margin-left: 180px;
}
.button{
    margin-left: 20px; 
    color: white; 
    background-color: tomato;
}
.btn-warning{
    color: white;
}
.nav-link{
    color: tomato;
}