<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-3">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>WORKERS</h2>
                    <h6><a class="nav-link" routerLink="/addworker"> ADD WORKER</a></h6>
                </div>
                <div class="panel-body">
                    <table class="table table-striped" *ngIf="workers.length > 0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let worker of workers">
                            <tr>
                                <td>{{worker.name}}</td>
                                <td>{{worker.surname}}</td>
                                <td>{{worker.phone}}</td>
                                <td>
                                    <button class="btn btn-warning" (click)="onUpdate(worker.id)">UPDATE</button>
                                </td>
                                <td>
                                    <button class="btn button" *ngIf="isAdmin" (click)="onDelete(worker.id)">DELETE</button>
                                </td>
                                <td>
                                    <button class="btn button" (click)="onDetails(worker.id)">DETAILS</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
