<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/purchase" routerLinkActive="active">Purchase</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/addpurchase" *ngIf="!isAdmin">Add purchase</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/buyer">Buyers</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/addbuyer" *ngIf="!isAdmin">Add buyer</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>