<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-1">
            <div class="panel panel-primary" *ngIf="plantations.length > 0">
                <div class="panel-header">
                    <h2>Plantations</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Plantation Address</th>
                                <th>Plantation Size ( &#13217; ) </th>
                                <th>Grower name</th>
                                <th>Grower surname</th>
                                <th>Grower jmbg</th>
                            </tr>
                        </thead>
                        <tbody *ngFor = "let plantation of plantations">
                            <tr>
                                <td>{{plantation.address}}</td>
                                <td>{{plantation.size}}</td>
                                <td>{{plantation.raspberryGrower.name}}</td>
                                <td>{{plantation.raspberryGrower.surname}}</td>
                                <td>{{plantation.raspberryGrower.id}}</td>
                                <td>
                                    <button class="btn btn-warning" (click)="onUpdate(plantation.id)">UPDATE</button>
                                </td>
                                <td>
                                    <button class="btn button" (click)="onDelete(plantation.id)" *ngIf="isAdmin">DELETE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
