<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD REMOVAL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="removalForm">
                <div class="form-group">
                    <label>KIND OF RASPBERRY: </label>
                    <div class="form-check">
                        <div class="form-check">
                            <label class="form-check-inline">
                                <input type="radio" id="kindOfRaspberry" formControlName="kindOfRaspberry"
                                    class="form-check-input" value="MIKER">MIKER
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-inline">
                                <input type="radio" id="kindOfRaspberry" formControlName="kindOfRaspberry"
                                    class="form-check-input" value="VILAMET">VILAMET
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>WEIGHT (kg) : </label>
                    <input type="number" id="weight" formControlName='weight'
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <label>DATE:</label>
                    <input type="date" id="date" formControlName='date' class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <label id="refrigerator">REFRIGERATOR:</label>
                    <select class="form-control"  id="idRefrigerator" formControlName='idRefrigerator'>
                        <option *ngFor="let refrigerator of refrigerators" value="{{refrigerator.id}}">{{refrigerator.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="plantation">PLANTATION: </label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                    <option *ngFor="let plantation of plantations" value="{{plantation.id}}">{{plantation.address}}</option>
                </select>
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>