.container{
    margin-top: 30px;
    margin-left: 60px;
    color: tomato;
}
.nav-link{
    color: tomato;
    margin-left: 80px;
}
.form-control{
    color: tomato;
}
.col-sm-4{
    margin-top: 30px;
}
.col-sm-8{
    margin-top: 30px;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 130px;
    margin-top: 20px;
}
.table {
    color: tomato;
}
.panel-header{
    margin-left: 200px;
}