<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-3">
            <h1>WORKER DEFROYAL</h1>
            <h4><a class="nav-link" routerLink="/adddefrayal">ADD DEFRAYAL</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="defrayalForm">
                <div class="form-group">
                    <label>DATE: </label>
                    <input type="date" class="form-control" formControlName="date" id="date">
                </div>
                <div class="form-group">
                    <label id="plantation">PLANTATION: </label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                        <option *ngFor="let plantation of plantations" value="{{plantation.id}}">
                            {{plantation.address}}</option>
                    </select>
                </div>
            </form>
            <button class="btn" (click)="onFind()">FIND</button>
        </div>
        <div class="col-sm-8" *ngIf="showDefrayal">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>Defrayals 
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Worker</th>
                                <th>Grower</th>
                                <th>Total hour</th>
                                <th>SalaryPerMonth</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let defrayal of defrayals">
                            <tr>
                                <td>{{defrayal.worker.name}} {{defrayal.worker.surname}}</td>
                                <td>{{defrayal.plantation.raspberryGrower.name}} {{defrayal.plantation.raspberryGrower.surname}}</td>
                                <td>{{defrayal.totalHour}}</td>
                                <td>{{defrayal.salaryForTheMonth}} KM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
