.container{
    margin-top: 30px;
    color: tomato;
}
.form-control{
    color: tomato;
}
h2{
    margin-left: 320px;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 150px;
}
.row{
    margin-top: 30px;
}