<div class="container">
    <div class="row">
        <div class="col-sm-10">
           <h2>ADD INVESTMENT IN FERTILIZER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-4">
            <form [formGroup]="investmentForm">
                <div class="form-group">
                    <label>DATE: </label>
                    <input type="date" id="date" class="form-control" formControlName="date">
                </div>
                <div class="form-group">
                    <label>PAID (KM): </label>
                    <input type="number" formControlName="paid" class="form-control">
                </div>
                <div class="form-group">
                    <label>PURCHASED QUANTITY (KG/ML): </label>
                    <input type="number" formControlName="purchasedQuantity" class="form-control">
                </div>
                <div class="form-grouo">
                    <label>FERTILIZER: </label>
                    <select id="idFertilizer" formControlName="idFertilizer" class="form-control">
                        <option *ngFor="let fertilizer of fertilizers" value="{{fertilizer.id}}">{{fertilizer.kindOfFertilizer}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>GROWER: </label>
                    <input type="number" id="idGrower" formControlName="idGrower" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>