<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>REFRIGERATOR CRATES</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="cratesForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>DATE:</label>
                            <input type="date" id="date" formControlName="date" class="form-control" size="14" required>
                        </div>
                        <div class="form-group">
                            <label id="plantation">PLANTATION: </label>
                            <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                                <option *ngFor="let plantation of plantations" value="{{plantation.id}}">
                                    {{plantation.address}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button class="btn" (click)="onFind()">Find</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8" *ngIf="showCrates">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>CRATES
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>SUBMITTED CRATES</th>
                                <th>TAKEN CRATES</th>
                                <th>KIND OF RASPBERRY</th>
                                <th>REFRIGERATOR</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let crate of crates; let i=index;">
                            <tr>
                                <td>{{crate.numberSubmittedCrates}}</td>
                                <td>{{crate.numberTakenCrates}}</td>
                                <td>{{crate.removal.kindOfRaspberry}}</td>
                                <td>{{crate.removal.refrigerator.name}}</td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
