.container{
    color: tomato;
    margin-top: 30px;
}
h2{
    margin-left: 280px;
}
.btn{
    margin-left: 35px; 
    color: white; 
    background-color: tomato;
}
.form-control{
    color: tomato;
}
.table {
    color: tomato;
}
.row{
    margin-bottom: 30px;
}