<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD CRATES</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="cratesForm">
                <div class="form-group">
                    <label>NUMBER SUBMITTED CRATES:</label>
                    <input type="number" size="45" id="submittedcrates" formControlName='submittedcrates' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>NUMBER TAKEN CRATES:</label>
                    <input type="number" size="45" id="takencrates" formControlName='takencrates' class="form-control" required>
                </div>
            </form>
            <button class="btn" (click)="onAdd()" >ADD</button>
        </div>
    </div>
</div>

