.form-control{
    color: tomato;
}
.btn{
    margin-left: 80px; 
    background-color: tomato; 
    color: white
}
.container{
    margin-top: 80px;
    color:tomato
}
h2{
    margin-left: 10px;
    margin-bottom: 20px;
}