.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.container{
    margin-top: 30px;
    color: tomato;
}
.form-control{
    color: tomato;
}
.form-group{
    margin-left: 40px;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 100px;
}