<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/pesticides" routerLinkActive="active">PESTICIDE</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addpesticide">Add pesticide</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Spraying
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/spraying">Infromation about spraying</a>
                    <a class="dropdown-item" routerLink="/addspraying">Add spraying</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD SPRAYING</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="sprayingForm">
                <div class="form-group">
                    <label>DATE: </label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>QUANTITY OF PESTICIDE: </label>
                    <input type="number" id="quantityOfPesticide" formControlName="quantityOfPesticide" class="form-control">
                </div>
                <div class="form-group">
                    <label>PLANTATION: </label>
                    <select id="idPlantation" class="form-control" formControlName="idPlantation">
                        <option *ngFor="let plantation of plantations" value="{{plantation.id}}">{{plantation.address}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>PESTICIDE: </label>
                    <select id="idPesticide" class="form-control" formControlName="idPesticide">
                        <option *ngFor="let pesticide of pesticides" value="{{pesticide.id}}">{{pesticide.kindOfPesticide}}</option>
                    </select>
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>