<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>UPDATE WORKER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="workerForm">
                <div class="form-group">
                    <label>NAME</label>
                    <input type="text" id="name" formControlName="name" class="form-control">
                </div>
                <div class="form-group">
                    <label>SURNAME</label>
                    <input type="text" id="surname" formControlName="surname" class="form-control">
                </div>
                <div class="form-group">
                    <label>PHONE</label>
                    <input type="text" id="phone" formControlName="phone" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="update()">UPDATE</button>
        </div>
    </div>
</div>
