<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/pesticides" routerLinkActive="active">PESTICIDE</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addpesticide" *ngIf="!isAdmin">Add pesticide</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Spraying
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/spraying">Infromation about spraying</a>
                    <a class="dropdown-item" routerLink="/addspraying" *ngIf="!isAdmin">Add spraying</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h1>Raspberry spraying</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="sprayingForm">
                <div class="form-group">
                    <label>
                        <h6>DATE OF SPRAYING:</h6>
                    </label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>
                <div class="form-group">
                    <label id="plantation">PLANTATION:</label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                        <option *ngFor="let plantation of plantations" value="{{plantation.id}}">
                            {{plantation.address}}</option>
                    </select>
                </div>
            </form>
            <button class="btn" (click)="onFind()">FIND</button>
        </div>
        <div class="col sm-8">
            <div class="panel panel-primary" *ngIf="showSprayings">
                <div class="panel-header">
                    <h2>
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Pesticide</th>
                                <th>Quantity of pesticide</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let spraying of sprayings">
                            <tr>
                                <td>{{spraying.pesticide.kindOfPesticide}}</td>
                                <td>{{spraying.quantityOfPesticide}} {{spraying.pesticide.unitOfMeasurementOfQuantity}}</td>
                                <td><button class="btn" [routerLink]="['/sprayingworker', spraying.id]">DETAILS</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
