.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 150px;
}
.table {
    color: tomato;
}