<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>PURCHASE</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <form [formGroup]="purchaseForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>DATE OF SALE:</label>
                            <input type="date" id="date" formControlName="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>PLANTATION: </label>
                            <select class="form-control" id="idPlantation" formControlName='idPlantation'
                                *ngFor="let plantation of plantations">
                                <option value="{{plantation.id}}">{{plantation.address}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button class="btn button1" (click)="onFind()">Find</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8" *ngIf="clickForFind">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>PURCHASE LIST
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>PLANTATION</th>
                                <th>BUYER</th>
                                <th>WEIGHT</th>
                                <th>KIND OF RASPBERRY</th>
                                <th>PRICE</th>
                                <th>CHARGED</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let purchase of purchases; let i=index;">
                            <tr>
                                <td>{{purchase.plantation.address}}</td>
                                <td>{{purchase.buyer.name}} {{purchase.buyer.surname}}</td>
                                <td>{{purchase.weight}}</td>
                                <td>{{purchase.kindOfRaspberry}}</td>
                                <td>{{purchase.price}}</td>
                                <td>{{purchase.charged}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>