.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.table {
    color: tomato;
}
.button1{
    margin-left: 40px; 
    color: white; 
    background-color: tomato;
}
.button2{ 
    color: white; 
    background-color: tomato; 
}
.panel-header{
    margin-left: 210px;
}
.row{
    margin-top: 20px;
}
