.row{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.form-group{
    margin-left: 15px;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 80px;
}