<div class="container">
    <div class="row offset-4">
        <div class="col-xs-12">
            <h2>ADD DEFRAYAL</h2>
        </div>
    </div>
    <div class="row offset-4">
        <div class="col-xs-12">
            <form [formGroup]="defrayalForm">
                <div class="form-group">
                    <label>DATE: </label>
                    <input type="date" formControlName="date" id="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>PLANTATION: </label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                        <option *ngFor="let plantation of plantations" value="{{plantation.id}}">{{plantation.address}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="worker">WORKER:</label>
                    <select class="form-control" id="idWorker" formControlName='idWorker'>
                        <option *ngFor="let worker of workers" value="{{worker.id}}">{{worker.name}} {{worker.surname}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="month">DEFRAYAL PER MONTH: </label>
                    <select id="month" class="form-control" formControlName="month">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="Jun">Jun</option>
                        <option value="July">July</option>
                        <option value="Avgust">Avgust</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="kind">DEFRAYAL FOR: </label>
                    <select id="kind" class="form-control" formControlName="kind">
                        <option value="harvest">HARVEST</option>
                        <option value="digging">DIGGING</option>
                        <option value="spraying">SPRAYING</option>
                        <option value="fertilization">FERTILIZATION</option>
                        <option value="haircut">HAIRCUT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>PRICE PER HOUR: </label>
                    <input type="number" id="price" formControlName="price" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>
