<div class="container offset-4">
    <div class="row">
        <div class="col-xs-12">
            <h2>ADD DIGGING</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="diggingForm">
                <div class="form-group">
                    <label id="worker">WORKER:</label>
                    <select class="form-control" id="idWorker" formControlName='idWorker'>
                        <option *ngFor="let worker of workers" value="{{worker.id}}">{{worker.name}} {{worker.surname}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="plantation">PLANTATION:</label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                        <option *ngFor="let plantation of plantations" value="{{plantation.id}}">{{plantation.address}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>DATE:</label>
                    <input type="date" class="form-control" formControlName="date">
                </div>
                <div class="form-group">
                    <label>START HOUR:</label>
                    <input type="time" class="form-control" formControlName="startHour">
                </div>
                <div class="form-group">
                    <label>END HOUR:</label>
                    <input type="time" class="form-control" formControlName="endHour">
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>