.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.btn{
    margin-left: 70px; 
    color: white; 
    background-color: tomato;
}
h2{
    margin-left: 360px;
}