.container{
    margin-top: 30px;
    color: tomato;
}
.styleh1{
    margin-left: 45px;
}
.styleh2{
    margin-left: 30px;
}
.nav-link{
    color: tomato;
}
.form-control{
    color: tomato;
}
table{
    color: tomato;
}
.h2{
    margin-left: 250px;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 140px;
}