<div class="container">
    <div class="row offset-4">
        <div class="col-xs-12">
            <h2 class="styleh2">INVESTMENTS</h2>
        </div>
    </div>
    <div class="row offset-4">
        <div class="col-xs-12">
            <h5 class="styleh1"><a routerLink="/addinvestment" class="nav-link" *ngIf="!isAdmin">Add investment</a></h5>
            <h5><a routerLink="/addinvestmentinpesticide" class="nav-link" *ngIf="!isAdmin">Add investment in pesticide</a></h5>
            <h5><a routerLink="/addinvestmentinfertilizer" class="nav-link" *ngIf="!isAdmin">Add investment in fertilizer</a></h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="investmentForm">
                <div class="form-group">
                    <label>DATE: </label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>
                <div class="form-group">
                    <label id="kindOfInvestment">KIND OF INVESTMENT: </label>
                    <select id="kindOfInvestment" formControlName="kindOfInvestment" class="form-control">
                        <option value="FERTILIZER">FERTILIZER</option>
                        <option value="PESTICIDE">PESTICIDE</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="idGrower==0">
                    <label>GROWER: </label>
                    <input type="number" id="idGrower" formControlName="idGrower" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onFind()">FIND</button>
        </div>
        <div class="col-sm-8" *ngIf="showInvestmentOther">
            <div class="alert alert-danger" *ngIf="otherInvestments.length == 0">
                <strong>No other investments with this date!
                    <button type="button" class="close" (click)="onClose()">&times;</button>
                </strong>
            </div>
            <div class="panel panel-primary" *ngIf="otherInvestments.length > 0">
                <div class="panel-header">
                    <h2 class="h2">OTHER INVESTMENT
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Kind of investment</th>
                                <th>Paid</th>
                                <th>Grower</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let investment of otherInvestments">
                            <tr>
                                <td>{{investment.kindOfInvestment}}</td>
                                <td>{{investment.paid}}</td>
                                <td>{{investment.raspberryGrower.name}} {{investment.raspberryGrower.surname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8" *ngIf="showInvestmentPesticide">
            <div class="alert alert-danger" *ngIf="pesticideInvestments.length == 0">
                <strong>No investments in pesticide with this date!
                    <button type="button" class="close" (click)="onClose()">&times;</button>
                </strong>
            </div>
            <div class="panel panel-primary" *ngIf="pesticideInvestments.length > 0">
                <div class="panel-header">
                    <h2 class="h2">INVESTMENT IN PESTICIDE
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Pesticide</th>
                                <th>Price per kg or 100 ml</th>
                                <th>Paid</th>
                                <th>Purchased quantity</th>
                                <th>Grower</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let pesticideInvestment of pesticideInvestments">
                            <tr>
                                <td>{{pesticideInvestment.pesticide.kindOfPesticide}}</td>
                                <td>{{pesticideInvestment.pricePerKgOrMl}} KM</td>
                                <td>{{pesticideInvestment.paid}} KM</td>
                                <td>{{pesticideInvestment.purchasedQuantity}}
                                    {{pesticideInvestment.pesticide.unitOfMeasurementOfQuantity}}</td>
                                <td>{{pesticideInvestment.raspberryGrower.name}}
                                    {{pesticideInvestment.raspberryGrower.surname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8" *ngIf="showInvestmentFertilizer">
            <div class="alert alert-danger" *ngIf="fertilizerInvestments.length == 0">
                <strong>No investments in fertilizer with this date!
                    <button type="button" class="close" (click)="onClose()">&times;</button>
                </strong>
            </div>
            <div class="panel panel-primary" *ngIf="fertilizerInvestments.length > 0">
                <div class="panel-header">
                    <h2 class="h2">INVESTMENT IN FERTILIZER
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fertilizer</th>
                                <th>Price per kg or 100 ml</th>
                                <th>Paid</th>
                                <th>Purchased quantity</th>
                                <th>Grower</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let fertilizerInvestment of fertilizerInvestments">
                            <tr>
                                <td>{{fertilizerInvestment.fertilizer.kindOfFertilizer}}</td>
                                <td>{{fertilizerInvestment.pricePerKgOrMl}} KM</td>
                                <td>{{fertilizerInvestment.paid}} KM</td>
                                <td>{{fertilizerInvestment.purchasedQuantity}}
                                    {{fertilizerInvestment.fertilizer.unitOfMeasurementOfQuantity}}</td>
                                <td>{{fertilizerInvestment.raspberryGrower.name}}
                                    {{fertilizerInvestment.raspberryGrower.surname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>