<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD GROWER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="growerForm">
                <div class="form-group">
                    <label>JMBG:</label>
                    <input type="number" size="13" max="13" id="id" formControlName='id' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>NAME:</label>
                    <input type="text" size="45" maxlength="45" id="name" formControlName='name' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>SURNAME:</label>
                    <input type="text" size="45" maxlength="45" id="surname" formControlName='surname' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>ADDRESS:</label>
                    <input type="text" size="45" maxlength="45" id="address" formControlName='address' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>PHONE:</label>
                    <input type="text" size="45" maxlength="45" id="phone" formControlName='phone' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>BIRTHDAY:</label>
                    <input type="date" id="birthday" formControlName='birthday' class="form-control" required>
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>
