<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/refrigerator" routerLinkActive="active">REFRIGERATOR</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addrefrigerator" *ngIf="isAdmin">Add refrigerator</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-1">
            <div class="panel panel-primary" *ngIf="refrigerators.length > 0">
                <div class="panel-header">
                    <h2>REFRIGERATOR</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <tbody *ngFor = "let refrigerator of refrigerators">
                            <tr>
                                <td>{{refrigerator.name}}</td>
                                <td>{{refrigerator.address}}</td>
                                <td>{{refrigerator.phone}}</td>
                                <td>
                                    <button class="btn btn-warning" (click)="onUpdate(refrigerator.id)">UPDATE</button>
                                </td>
                                <td>
                                    <button class="btn button" (click)="onDelete(plantation.id)" *ngIf="isAdmin">DELETE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>