.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.table {
    color: tomato;
    margin-left: 105px;
}
.container{
    color: tomato;
}
.button{
    margin-left: 20px; 
    color: white; 
    background-color: tomato;
}
.btn-warning{
    color: white;
}
h2{
    margin-top: 30px;
    margin-left: 320px;
}