.container{
    color: tomato;
    margin-top: 30px;
}
.nav-link{
    margin-left: 70px;
    color: tomato;
}
.form-control{
    color: tomato;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 150px;
}
.table {
    color: tomato;
}
h2{
    margin-left: 250px;
}