<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h1>Raspberry digging</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h4><a class="nav-link" routerLink="/adddigging">ADD DIGGING</a></h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="diggingForm">
                <div class="form-group">
                    <label>
                        <h6>DATE OF HARVEST:</h6>
                    </label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>
                <div class="form-group">
                    <label id="plantation">PLANTATION:</label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                        <option *ngFor="let plantation of plantations" value="{{plantation.id}}">
                            {{plantation.address}}</option>
                    </select>
                </div>
            </form>
            <button class="btn" (click)="onFind()">FIND</button>
        </div>
        <div class="col sm-8">
            <div class="panel panel-primary" *ngIf="showDigging">
                <div class="panel-header">
                    <h2>DIGGING
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Worker</th>
                                <th>Start Hour</th>
                                <th>End Hour</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let digging of digginges">
                            <tr>
                                <td>{{digging.worker.name}} {{digging.worker.surname}}</td>
                                <td>{{digging.startHour}}</td>
                                <td>{{digging.endHour}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>