<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>UPDATE USER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="userForm" style="margin-top: 30px;">
                <div class="form-group">
                    <label>USERNAME:</label>
                    <input type="text" size="45" id="username" formControlName="username" class="form-control">
                </div>
                <div class="form-group">
                    <label>PASSWORD:</label>
                    <input type="text" id="password" formControlName="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>ROLE:</label>
                    <input type="text" id="role" formControlName="role" class="form-control">
                </div>
            </form>
            <button class="btn" style="margin-left: 150px;" (click)="update()">UPDATE</button>
        </div>
    </div>
</div>
