<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/fertilizer" routerLinkActive="active">FERTILIZER</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addfertilizer" *ngIf="!isAdmin">Add fertilizer</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Fertilization
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/fertilization">Infromation about fertilization</a>
                    <a class="dropdown-item" routerLink="/addfertilization" *ngIf="!isAdmin">Add fertilization</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container" *ngIf="fertilizers.length>0">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-header">
                <h2>FERTILIZER</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Kind of fertilizer</th>
                            <th>Description</th>
                            <th>Quantity in store</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let fertilizer of fertilizers">
                        <tr>
                            <td>{{fertilizer.kindOfFertilizer}}</td>
                            <td>{{fertilizer.description}}</td>
                            <td>{{fertilizer.quantityInStore}} {{fertilizer.unitOfMeasurementOfQuantity}}</td>
                            <td><button class="btn btn-warning" (click)="onUpdate(fertilizer.id)">UPDATE</button></td>
                            <td><button class="btn button" *ngIf="isAdmin" (click)="onDelete(fertilizer.id)">DELETE</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>