.table{
    color: tomato;
    margin-top: 30px;
}
.container{
    color: tomato;
    margin-top: 30px;
}
h2{
    margin-left: 250px;
}
h3{
    margin-left: 350px;
}
.form-control{
    color: tomato;
}
.form-group{
    color: tomato;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 80px;
}