<div class="container">
    <div class="row">
        <h2>DETAILS ABOUT WORKER:</h2>
        <h3>{{worker.name}} {{worker.surname}} </h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <form [formGroup]="workerForm">
                <div class="form-group">
                    <label>YEAR: </label>
                    <input type="number" id="year" formControlName="year" class="form-control">
                </div>
                <div class="form-group">
                    <label>PLANTATION: </label>
                    <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                        <option *ngFor="let plantation of plantations" value="{{plantation.idPlantation}}">{{plantation.address}}</option>
                    </select>
                </div>
            </form>
            <button class="btn" (click)="onFind()">FIND</button>
        </div>
        <div class="col-sm-8 offset-1" *ngIf="showDefrayal">
            <button type="button" class="close" (click)="onClose()">&times;</button>
            <div class="alert alert-danger" *ngIf="workerDefrayals.length == 0">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>NO DEFROYALS ON PLANTATION AT YEAR WHICH YOU INPUT!</strong>
            </div>
            <table class="table table-striped" *ngIf="workerDefrayals.length > 0">
                <thead>
                    <tr>
                        <th>MONTH</th>
                        <th>SALARY</th>
                        <th>NUMBER WORKING HOURS</th>
                        <th>KIND OF WORK</th>
                    </tr>
                </thead>
                <tbody *ngFor="let defrayal of workerDefrayals">
                    <tr *ngIf="defrayal.defrayalPerMonth == 'January'">
                        <th>JANUARY</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'February'">
                        <th>FEBRUARY</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'March'">
                        <th>MARCH</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'April'">
                        <th>APRIL</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'May'">
                        <th>MAY</th> <td>{{defrayal.salaryForTheMonth}} KM </td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth === 'Jun'">
                        <th>JUN</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'July'">
                        <th>JULY</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'Avgust'">
                        <th>AVGUST</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'September'">
                        <th>SEPTEMBER</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'October'">
                        <th>OCTOBER</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'November'">
                        <th>NOVEMBER</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                    <tr *ngIf="defrayal.defrayalPerMonth == 'December'">
                        <th>DECEMBER</th> <td>{{defrayal.salaryForTheMonth}} KM</td> <td>{{defrayal.totalHour}} h</td>
                        <td>{{defrayal.kindOfWork}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div>
            <table class="table table-striped"> 
                    <tr>
                        <th></th> <th>JAN</th> <th>FEB</th> <th>MARCH</th> <th>APRIL</th> <th>MAY</th> 
                        <th>JUN</th> <th>JULY</th> <th>AVG</th> <th>SEP</th> <th>OCT</th> <th>NOV</th> <th>DEC</th>
                    </tr>
                    <tr>
                        <th>HAIRCUT</th> <td *ngFor="let haircutHour of haircutHours"><b>{{haircutHour}}</b></td>
                    </tr>
                    <tr>
                        <th>DIGGING</th> <td *ngFor="let diggingHour of diggingHours"><b>{{diggingHour}}</b></td>
                    </tr>
                    <tr>
                        <th>FERTILIZATION</th> <td *ngFor="let fertilizationHour of fertilizationHours"><b>{{fertilizationHour}}</b></td>
                    </tr>
                    <tr>
                        <th>SPRAYING</th> <td *ngFor="let sprayingHour of sprayingHours"><b>{{sprayingHour}}</b></td>
                    </tr>
                   <tr>
                       <th>HARVEST</th> <td *ngFor="let harvestHour of harvestHours"><b>{{harvestHour}}</b></td>
                   </tr>
            </table>
        </div>
    </div>
</div>