.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.dropdown-menu{
    background-color: darkred;
}
.dropdown-item{
    color: white;
}
.table {
    color: tomato;
}
.container{
    color: tomato;
    margin-top: 30px;
}
.button{
    background-color: tomato; 
    color: white;
}
.btn-warning{
    color: white;
}
.panel-header{
    margin-top: 30px;
}
h2{
    margin-left: 400px;
}