<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/pesticides" routerLinkActive="active">PESTICIDE</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addpesticide" *ngIf="!isAdmin">Add pesticide</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Spraying
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/spraying">Infromation about spraying</a>
                    <a class="dropdown-item" routerLink="/addspraying" *ngIf="!isAdmin">Add spraying</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container" *ngIf="pesticides.length>0">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-header">
                <h2>PESTICIDES</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Kind of pesticide</th>
                            <th>Description</th>
                            <th>Quanitity in store</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pesticide of pesticides">
                        <tr>
                            <td>{{pesticide.kindOfPesticide}}</td>
                            <td>{{pesticide.description}}</td>
                            <td>{{pesticide.quantityInStore}} {{pesticide.unitOfMeasurementOfQuantity}}</td>
                            <td><button class="btn btn-warning" (click)="onUpdate(pesticide.id)">UPDATE</button></td>
                            <td><button class="btn button" *ngIf="isAdmin" (click)="onDelete(pesticide.id)">DELETE</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
