.container{
    width: 500px;
    height: 340px;
    margin-top: 30px;
    color: tomato;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 100px;
}
.form-control{
    color: tomato;
}
h2{
    margin-top: 30px; 
    margin-bottom: 30px;
}