<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-2">
            <h2>Login to your account!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-3">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <label>USERNAME</label>
                    <input type="text" id="username" size="30" formControlName="username" class="form-control">
                </div>
                <div class="form-group">
                    <label>PASSWORD</label>
                    <input type="password" id="password" size="30" formControlName="password" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onLogin()">LOGIN</button>
        </div>
    </div>
</div>