.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.table {
    color: tomato;
}
.button1{
    margin-left: 35px; 
    color: white; 
    background-color: tomato;
}
.button2{
    margin-left: 5px; 
    color: white; 
    background-color: tomato;
}
h2{
    margin-top: 30px;
    margin-bottom: 20px;
}