<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>PAYMENT</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="paymentForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>YEAR:</label>
                            <input type="number" id="year" formControlName="year" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label id="plantation">PLANTATION: </label>
                            <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                                <option *ngFor="let plantation of plantations" value="{{plantation.id}}">
                                    {{plantation.address}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button class="btn button1" (click)="onFind()">Find</button>
                </div>
            </form>
            <div class="container">
                <button class="btn button2" routerLink="/addpayment">ADD PAYMENT</button>
            </div>
        </div>
        <div class="col-sm-8" *ngIf="paymentShow">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>REFRIGERATOR PAYMENT
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>KIND OF RASPBERRY</th>
                                <th>DATE</th>
                                <th>WEIGHT</th>
                                <th>GROWER</th>
                                <th>REFRIGERATOR</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let payment of payments; let i=index;">
                            <tr>
                                <td>{{payment.kindOfRaspberry}}</td>
                                <td>{{payment.date}}</td>
                                <td>{{payment.weight}}</td>
                                <td>{{payment.plantation.raspberryGrower.name}} {{payment.plantation.raspberryGrower.surname}}</td>
                                <td>{{payment.refrigerator.name}}</td>
                                <td>{{payment.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
