<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <form [formGroup]="growerForm">
                <div class="form-group">
                    <label>YEAR: </label>
                    <input type="number" id="year" formControlName="year" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onFind()">FIND</button>
        </div>
        <div class="col-sm-8" *ngIf="showDetails">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>PROFIT: {{profit}} KM
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tBody>
                            <tr>
                                <th></th> <th>PESTICIDES</th> <th>FERTILIZATION</th><th>OTHER</th>
                            </tr>
                            <tr>
                                <th>TOTAL INVESTMENT </th> <td>{{totalInvestmentInPesticides}} KM</td> <td>{{totalInvestmentInFertilizer}} KM</td>
                                <td>{{totalInvestmentInOther}} KM</td>
                            </tr>
                        </tBody>
                    </table>
                </div>
                <div class="panel-body" *ngFor="let plantation of plantations">
                    <table class="table table-striped">
                        <tBody>
                            <h2>{{plantation.address}}</h2>
                            <tr>
                                <th></th> <th>MIKER</th> <th>VILAMET</th>
                            </tr>
                            <tr>
                                <th>TOTAL HARVEST</th> <td>{{totalWeightOfMiker}} kg</td> <td>{{totalWeightOfVilamet}} kg</td>
                            </tr>
                            <tr>
                                <th></th> <th>BUYERS</th> <th>REFRIGERATORS</th>
                            </tr>
                            <tr>
                                <th>TOTAL EARNINGS </th> <td>{{totalEarnFromBuyer}} KM </td> <td>{{totalPaymentOfRefrigerators}} KM</td>
                            </tr>
                            <tr>
                                <th></th> <th>WORKERS</th>
                            </tr>
                            <tr>
                                <th>TOTAL DEFRAYAL</th> <td>{{totalDefrayalForWorkers}} KM</td>
                            </tr>
                        </tBody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
