.table {
    color: tomato;
}
.form-control{
    color: tomato;
}
.container{
    color: tomato;
    margin-top: 30px;
}
.button1{
    margin-left: 100px; 
    background-color: tomato; 
    color: white;
}
.button{
    margin-left: 20px; 
    background-color: tomato; 
    color: white;
}
.btn-warning{
    margin-left: 100px; 
    color: white;
}
.panel-header{
    margin-top: 30px;
}
.form-group{
    margin-top: 30px;
}