<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="growerForm">
                <div class="form-group">
                    <label>
                        <h2>Input grower JMBG</h2>
                    </label>
                    <input type="number" size="13" id='id' formControlName="id" class="form-control">
                </div>
            </form>
            <button class="btn button1" (click)="onFind()">FIND</button>
        </div>
        <div class="col-xs-12 offset-3" *ngIf="showGrower">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>Grower
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Birthday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{grower.name}}</td>
                                <td>{{grower.surname}}</td>
                                <td>{{grower.address}}</td>
                                <td>{{grower.phone}}</td>
                                <td>{{grower.birthday}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-warning" (click)="onUpdate(grower.id)">UPDATE</button>
            <button class="btn button" (click)="onDelete(grower.id)" *ngIf="isAdmin">DELETE</button>
            <button class="btn button" (click)="onDetails(grower.id)" *ngIf="isAdmin">DETAILS</button>
        </div>
    </div>
</div>