.container{
    color: tomato;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 150px;
}
form{
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
h2{
    margin-top: 30px;
    margin-left: 450px;
}