<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>ADD USER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label>USERNAME:</label>
                    <input type="text" size="45" id="username" formControlName='username' class="form-control">
                </div>
                <div class="form-group">
                    <label>PASSWORD:</label>
                    <input type="password" id="password" formControlName='password'  class="form-control">
                </div>
                <div class="form-group">
                    <label>ROLE:</label>
                    <input type="text" id="role" formControlName='role' class="form-control">
                </div>
                <div class="form-group">
                    <label>GROWER:</label>
                    <input type="number" id="idGrower" formControlName='idGrower' class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>
