<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4">
           <h2>ADD INVESTMENT</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-4">
            <form [formGroup]="investmentForm">
                <div class="form-group">
                    <label>KIND OF INVESTMENT: </label>
                    <input type="text" id="kindOfInvestment" class="form-control" formControlName="kindOfInvestment">
                </div>
                <div class="form-group">
                    <label>DATE: </label>
                    <input type="date" id="date" class="form-control" formControlName="date">
                </div>
                <div class="form-group">
                    <label>GROWER: </label>
                    <input type="number" id="idGrower" formControlName="idGrower" class="form-control">
                </div>
                <div class="form-group">
                    <label>PAID (KM): </label>
                    <input type="number" formControlName="paid" class="form-control">
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>