.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.table {
    color: tomato;
}
.button1{
    margin-left: 120px; 
    color: white; 
    background-color: tomato;
}
.button2{
    margin-left: 80px; 
    color: white; 
    background-color: tomato; 
}
.panel-header{
    margin-left: 200px;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}