<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>REFRIGERATOR REMOVAL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="removalForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label id="plantation">PLANTATION: </label>
                            <select class="form-control" id="idPlantation" formControlName='idPlantation'>
                                <option *ngFor="let plantation of plantations" value="{{plantation.id}}">
                                    {{plantation.address}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>DATE:</label>
                            <input type="date" id="date" formControlName="date" class="form-control" required>
                        </div>
                        <div class="form-check">
                            <label>KIND OF RASPBERRY:
                                <div class="form-check-inline">
                                    <label class="form-check-inline">
                                        <input type="radio" id="kindOfRaspberry" formControlName="kindOfRaspberry"
                                            class="form-check-input" value="MIKER">MIKER
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-inline">
                                        <input type="radio" id="kindOfRaspberry" formControlName="kindOfRaspberry"
                                            class="form-check-input" value="VILAMET">VILAMET
                                    </label>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button class="btn button1" (click)="onFind()">Find</button>
                </div>
            </form>
            <div class="container">
                <button class="btn button2" routerLink="/addremoval" type="button">ADD REMOVAL</button>
            </div>
        </div>
        <div class="col-sm-8" *ngIf="showRemoval">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>REFRIGERATOR REMOVAL
                        <button type="button" class="close" (click)="onClose()">&times;</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>KIND OF RASPBERRY</th>
                                <th>DATE</th>
                                <th>WEIGHT</th>
                                <th>PLANTATION</th>
                                <th>REFRIGERATOR</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let removal of removals; let i=index;">
                            <tr>
                                <td>{{removal.kindOfRaspberry}}</td>
                                <td>{{removal.date}}</td>
                                <td>{{removal.weight}}</td>
                                <td>{{removal.plantation.address}}</td>
                                <td>{{removal.refrigerator.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>