<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/fertilizer" routerLinkActive="active">FERTILIZER</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addfertilizer">Add fertilizer</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Fertilization
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/fertilization">Infromation about fertilization</a>
                    <a class="dropdown-item" routerLink="/addfertilization">Add fertilization</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-1">
            <div class="alert alert-danger" *ngIf="fertilizationWorkers.length == 0">
                <p>NO INPUTS WORKERS FOR THIS FERTILIZATION!!!</p>
                <h2>ADD WORKERS >>> <button class="btn" (click)="onAdd()">ADD</button></h2>
            </div>
            <div class="panel panel-primary" *ngIf="fertilizationWorkers.length > 0">
                <div class="panel-header">
                    <h2>FERTILIZATION WORKERS</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>WORKER NAME</th>
                                <th>WORKER SURNAME </th>
                                <th>START </th>
                                <th>END</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let fertilizationWorker of fertilizationWorkers">
                            <tr>
                                <td>{{fertilizationWorker.worker.name}}</td>
                                <td>{{fertilizationWorker.worker.surname}}</td>
                                <td>{{fertilizationWorker.startHour}}</td>
                                <td>{{fertilizationWorker.endHour}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
