.container{
    margin-top: 30px;
    color: tomato;
}
.btn{
    margin-left: 20px;
    color: white;
    background-color: tomato;
}
table{
    color: tomato;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.dropdown-menu{
    background-color: darkred;
}
.dropdown-item{
    color: white;
}