<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/fertilizer" routerLinkActive="active">FERTILIZER</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addfertilizer">Add fertilizer</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Fertilization
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/fertilization">Infromation about fertilization</a>
                    <a class="dropdown-item" routerLink="/addfertilization">Add fertilization</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD FERTILIZATION</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="fertilizationForm">
                <div class="form-group">
                    <label>DATE: </label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>QUANTITY OF FERTILIZER: </label>
                    <input type="number" id="quantityOfFertilizer" formControlName="quantityOfFertilizer" class="form-control">
                </div>
                <div class="form-group">
                    <label>PLANTATION: </label>
                    <select id="idPlantation" class="form-control" formControlName="idPlantation">
                        <option *ngFor="let plantation of plantations" value="{{plantation.id}}">{{plantation.address}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>FERTILIZER: </label>
                    <select id="idFertilizer" class="form-control" formControlName="idFertilizer">
                        <option *ngFor="let fertilizer of fertilizers" value="{{fertilizer.id}}">{{fertilizer.kindOfFertilizer}}</option>
                    </select>
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>