<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/fertilizer" routerLinkActive="active">FERTILIZER</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addfertilizer">Add fertilizer</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Fertilization
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/fertilization">Infromation about fertilization</a>
                    <a class="dropdown-item" routerLink="/addfertilization">Add fertilization</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD FERTILIZATION WORKER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="fertilizationWorkerForm">
                <div class="form-group">
                    <label>START HOUR: </label>
                    <input type="time" id="startHour" formControlName="startHour" class="form-control">
                </div>
                <div class="form-group">
                    <label>END HOUR: </label>
                    <input type="time" id="endHour" formControlName="endHour" class="form-control">
                </div>
                <div class="form-group">
                    <label>WORKER: </label>
                    <select id="idWorker" class="form-control" formControlName="idWorker">
                        <option *ngFor="let worker of workers" value="{{worker.id}}">{{worker.name}} {{worker.surname}}</option>
                    </select>
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
            <button class="btn" (click)="onFinish()">FINISH</button>
        </div>
    </div>
</div>
