<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/fertilizer" routerLinkActive="active">FERTILIZER</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addfertilizer">Add fertilizer</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Fertilization
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/fertilization">Infromation about fertilization</a>
                    <a class="dropdown-item" routerLink="/addfertilization">Add fertilization</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>ADD FERTILIZER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="fertilizerForm">
                <div class="form-group" *ngIf="idGrower==0">
                    <label>GROWER: </label>
                    <input type="number" id="idGrower" formControlName="idGrower" class="form-control">
                </div>
                <div class="form-group">
                    <label>KIND OF FERTILIZER:</label>
                    <input type="text" id="kind" formControlName="kindOfFertilizer" class="form-control">
                </div>
                <div class="form-group">
                    <label>DESCRIPTION:</label>
                    <textarea rows="4" id="description" formControlName="description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>QUANTITY IN STORE: </label>
                    <input type="number" id="quantityInStore" formControlName="quantityInStore" class="form-control">
                </div>
                <div class="form-check">
                    <div class="form-check-inline">
                        <label class="form-check-inline">
                            <input type="radio" id="unitOfMeasurementOfQuantity" formControlName="unitOfMeasurementOfQuantity"
                                class="form-check-input" value="ml">ml
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-inline">
                            <input type="radio" id="unitOfMeasurementOfQuantity" formControlName="unitOfMeasurementOfQuantity"
                                class="form-check-input" value="kg">kg
                        </label>
                    </div>
                </div>
            </form>
            <button class="btn" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>