.container{
    color: tomato;
    margin-top: 30px;
}
.form-control{
    color: tomato;
}
.btn{
    color: white;
    background-color: tomato;
    margin-left: 90px;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.dropdown-menu{
    background-color: darkred;
}
.dropdown-item{
    color: white;
}
.col-xs-1{
    width: 100px;
}
.form-group.row{
    margin-left: 5px;
}
.form-group{
    margin-left: 40px;
}