<nav class="navbar navbar-expand-xl bg-danger">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/homepage"  routerLinkActive="active">RASPBERRY</a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown" dropdown *ngIf="isLogin">
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Refrigerator
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/refrigerator">Infromation</a>
                    <a class="dropdown-item" routerLink="/crates">Crates</a>
                    <a class="dropdown-item" routerLink="/removal">Removal</a>
                    <a class="dropdown-item" routerLink="/payment">Payment</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown *ngIf="isLogin">
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Workers
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/worker">List</a>
                    <a href="#" class="dropdown-item" routerLink="/workerdefrayal">Defrayal</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown *ngIf="isLogin">
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Processing
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/fertilizer">Fertilization</a>
                    <a href="#" class="dropdown-item" routerLink="/pesticides">Spraying</a>
                    <a class="dropdown-item" routerLink="/digging">Digging</a>
                    <a class="dropdown-item" routerLink="/harvest">Harvest</a>
                    <a class="dropdown-item" routerLink="/haircut">Haircut</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="isLogin"><a class="nav-link" id="navbardrop" routerLink="/investment">Investment</a></li>
            <li class="nav-item" *ngIf="isLogin"><a class="nav-link" id="navbardrop" routerLink="/purchase">Sale</a></li>
        </ul>
    </div>
    <ul class="nav ml-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/growerdetails', idGrower]" *ngIf="isLogin && !isAdmin">Profile</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/raspberrygrower" *ngIf="isLogin && isAdmin">Grower</a></li>
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" *ngIf="isLogin && !isAdmin">
                Plantation
            </a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item" routerLink="/plantation">Infromation</a>
                <a class="dropdown-item" routerLink="/addplantation">Add plantation</a>
            </div>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" *ngIf="isAdmin">
                Authentication
            </a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item" routerLink="users">Find user</a>
                <a class="dropdown-item" routerLink="adduser">Add user</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/login" *ngIf="!isLogin">Login</a></li>
        <li class="nav-itme"><a class="nav-link" routerLink="/homepage" *ngIf="isLogin" (click)="onLogout()">Logout</a></li>
    </ul>
</nav>