<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>UPDATE REFRIGERATOR</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="refrigeratorForm">
                <div class="form-group">
                    <label>NAME: </label>
                    <input type="text" size="45" id="name" formControlName="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>ADDRESS: </label>
                    <input type="text" size="45" id="address" formControlName="address" class="form-control" required>
                </div>
                <div class="form-group">
                     <label>PHONE: </label>
                     <input type="text" size="45" id="phone" formControlName="phone" class="form-control" required>
                </div>
            </form>
            <button class="btn" (click)="onUpdate()">UPDATE</button>
        </div>
    </div>
</div>
