<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label>
                        <h2>Input username:</h2>
                    </label>
                    <input type="text" size="45" id='username' formControlName="username" class="form-control">
                </div>
            </form>
            <button class="btn button1" (click)="onFind()">FIND</button>
        </div>
        <div class="col-xs-12 offset-3" *ngIf="showUser">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>User</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user.username}}</td>
                                <td>{{user.password}}</td>
                                <td>{{user.role}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-warning" (click)="onUpdate(user.id)">UPDATE</button>
            <button class="btn button2" (click)="onDelete(user.id)">DELETE</button>
            <button class="btn button3" (click)="onClose()">CLOSE</button>
        </div>
    </div>
</div>