.container{
    color: tomato;
}
.table{
    color: tomato;
}
.form-control{
    color: tomato;
}
h2{
    margin-top: 100px;
}
.button1{
    margin-left: 150px; 
    background-color: tomato; 
    color: white;
}
.btn-warning{
    margin-left: 10px; 
    color: white;
}
.button3{
    margin-left: 20px; 
    background-color: tomato; 
    color: white;
}
.button2{
    margin-left: 20px; 
    background-color: tomato; 
    color: white;
}