<nav class="navbar navbar-expand-xl bg-danger" *ngIf="isAdmin">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/raspberrygrower" routerLinkActive="active">GROWER</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/addgrower">Add grower</a></li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Plantation
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/plantation">Infromation</a>
                    <a class="dropdown-item" routerLink="/addplantation" *ngIf="!isAdmin">Add plantation</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
