<div class="slideshow-container">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="assets/IMG1.jpg" style="margin-left: 80px;" width="600px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG2.jpg"style="margin-left: 150px;" width="500px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG3.jpg" style="margin-left: 150px;" width="500px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG4.jpg" style="margin-left: 150px;" width="500px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG5.jpg" style="margin-left: 150px;" width="500px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG6.jpg" style="margin-left: 150px;" width="500px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG7.jpg" style="margin-left: 150px;" width="500px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG8.jpg" style="margin-left: 80px;" width="600px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG9.jpg" style="margin-left: 80px;" width="600px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG10.jpg" style="margin-left: 150px;" width="500px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG11.jpg" style="margin-left: 80px;" width="600px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG12.jpg" style="margin-left: 80px;" width="600px" height="550px">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/IMG13.jpg" style="margin-left: 150px;" width="500px" height="550px">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>