<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <h2>UPDATE PLANTATION</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="plantationForm">
                <div class="form-group">
                    <label>SIZE: ( &#13217; ) </label>
                    <input type="number" size="45" id="size" formControlName='size' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>JMBG GROWER:</label>
                    <input type="number" size="45" maxlength="45" id="idGrower" formControlName='idGrower' class="form-control" required>
                </div>
                <div class="form-group">
                    <label>ADDRESS:</label>
                    <input type="text" size="45" maxlength="45" id="address" formControlName='address' class="form-control" required>
                </div>
            </form>
            <button class="btn button" (click)="onUpdate()">UPDATE</button>
        </div>
    </div>
</div>
