<div class="container offset-3">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-header">
                    <h2>BUYERS</h2>
                </div>
                <div class="panel-body" *ngIf="buyers.length>0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME </th>
                                <th>SURNAME</th>
                                <th>PHONE</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let buyer of buyers">
                            <tr>
                                <td>{{buyer.id}}</td>
                                <td>{{buyer.name}}</td>
                                <td>{{buyer.surname}}</td>
                                <td>{{buyer.phone}}</td>
                                <td>
                                    <button class="btn btn-warning" (click)="onUpdate(buyer.id)">UPDATE</button>
                                </td>
                                <td>
                                    <button class="btn button" (click)="onDelete(buyer.id)" *ngIf="isAdmin">DELETE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

